.board {
	background-color: blue;
	border-radius: 10px;
}

#Reset {
	margin-top: 20px;
}

td {
	margin: 1px;
	width:100px;
	height:100px;
	text-align: center; 
	border-radius: 50%;
	background-color: gray
}
