table {
	margin: 0 auto;
	border-radius:10px;
}
td {
	border:1px solid black;
	width:100px;
	height:100px;
	text-align: center; 
}

.Red {
	color: red
	background-color: red;
}

.Yellow {
	
	background-color: yellow
}