body {
	background-color: black;
}

h1 {
	font-family: 'Bungee', cursive;
	font-size: 50px;
	color: yellow;
}

p {
	font-family: 'Bungee', cursive;
	color: red;
}

h2 {
	font-family: 'Bungee', cursive;
	color: white;
}

.board {
	border-radius: 10px;
}

#Reset {
	font-family: 'Bungee', cursive;
	margin-top: 10px;
	color: red;
	background-color: yellow;
}

td {
	margin: 1px;
	width:100px;
	height:100px;
	text-align: center; 
	border-radius: 50%;
	background-color: gray
}
